.paddingall{
    padding: 10px;
}
.homeprice{
   font-weight: 600
}
.hometitle{
   font-size: 14px;
    
}
.homeIcons{
    padding-top: 15px;
    padding-left: 10px;
    color: aliceblue;
}
.iconcolor{
    color: white;
}
.homebg{
    background: rgb(218, 211, 211);
}
.textcolor{
    background: rgb(40, 34, 70);
    background: linear-gradient(158deg ,rgba(40, 34, 70,1) 0%,rgba(30,47,147,1) 100%);
}
.textcolor2{
    background: rgb(53, 138, 148);
    background: linear-gradient(158deg ,rgba(53, 138, 148,1) 0%,rgba(91,180,96,1) 100%);
}
.texttitle{
    color: aliceblue;
}
.analyticbg{
    background: rgb(238, 234, 234);
}